.login {
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.form input {
    display: block;
    margin-bottom: 1rem;
}

.logo {
    position: absolute;
    height: 20vh;
    top: 3rem;
    left: 0;
}
