.container {
    padding: 1rem;
    flex-basis: 30%;
    max-height: 100vh;
    overflow-y: auto;
}

.search {
    background-color: var(--grey-color);
}

.listItem {
    padding: 0.5rem;
    background-color: var(--grey-color);
    color: var(--black-color);
    text-decoration: none;
    display: block;
    margin: 1rem 0;
}

.listItem:hover,
.activeListItem {
    background-color: var(--dark-grey-color);
}
